
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url("/static/images/logo_transparent.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
    transition: all .3s;
    cursor: pointer;
}
.btn:hover {
    background-color: #444;
}
.input-text{
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    border-radius: 25px;
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
    transition: all .3s;
    cursor: pointer;
}